:root {
  --color-primary: #046582;
  --color-secondary: #bb8082;
  --color-fg: #454545;
  --color-bg: white;
}

body {
  color: var(--color-fg);
  background-color: var(--color-bg);
}

a {
  color: var(--color-primary);
}
